/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
html{
  background-color: #000000;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html, nav {
  background-color: #000000;
}
body {
  width:485px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}
header, main {
  background-color: #ffffff;
  padding: 5px;
}
footer {
  background-color: #000000;
  text-align: center;
  color:#ffffff;
}
.contact {
  background-color: #000000;
  text-align: center;
}
nav {
  padding-bottom: 10px;
  padding-top:10px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  
}
nav ul li {
  padding: 10px;
}
nav ul li:last-child {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: #000000;
  border: 3px solid #ffffff;
}
nav a {
  text-decoration: none;
  color:#ffffff;
  font-size: 1.5em;
  
}
h1 {
  font-size: 3em;
  color: #007d7b;
}
h2 {
  font-size: 2em;
  color: #000000;
}
p {
  font-size: 1.25em;
  line-height:1.5em;
  padding: 10px;
}
.Gallery h2,
.About h2,
.Contact h2 {
  text-align: center;
  padding: 15px;
}
.Contact{
  background-color: #000000;
  text-align:center;
}
figure {
  margin: 0 auto; 
  display: block; 
  position: relative;
  padding: 5px;
}
figure img {
  max-width: 100%;
  height: auto;
  display: block;
  left: 3%;
  position: relative;
}

figcaption {
  position: absolute;
  bottom: 0; 
  width: 100%; 
  color: #ffffff; 
  padding: 10px; 
  text-align: center; 
}
.Contact form{
  width: 70%;
  display: inline-block;
  text-align: left;
  position: relative;
  padding: 20px;
  
}
small{
  font-size: 1em;
}
.Contact h2 {
  color:#ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Contact p{
  color:#ffffff;
  padding: 10px;
}
#submit {
  background: #007d7b;
  color: white;
  border-style: none;
  border-radius: 5px;
  text-shadow: none;
  width: 50%;
  padding: 10px;
  }
input::placeholder,
textarea::placeholder {
  color: #007d7b;
}
.label {
  color:#ffffff;
  padding: 10px;
}
.blackT{
  position: absolute;
  text-align: center; 
  top: 0%;
  left: 0%;
  padding: 10px;
  color: #000000;
}
.whiteT {
  text-align: center; 
  top: 0%;
  left: 0%;
  padding: 10px;
  color: #ffffff;
}
.blackB{
  text-align: center; 
  bottom: 0%;
  left: 0%;
  padding: 10px;
  color: #000000;
}

.photos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 10px;
}

@media (max-width: 880px) {
  .photos {
      grid-template-columns: repeat(2, minmax(200px, 1fr)); 
  }
}

@media (max-width: 1300px) {
  .photos {
      grid-template-columns: repeat(3, minmax(200px, 1fr)); 
  }
}

@media (max-width: 485px) {
  .photos {
      grid-template-columns: repeat(1, minmax(200px, 1fr)); 
  }
}
